*{margin: 0;padding: 0;}
li{list-style: none;}
.mt{margin-top: 15px;}
.mb{margin-bottom: 15px;}
.ml{margin-left: 15px;}
.mr{margin-right: 15px;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{
    content:"";
    height: 0;
    display: block;
    clear: both;
}
.search{
    .ant-col{
        display: flex;
        p{width: 90px;}
    }
}

.tr{text-align: right;}
.tc{text-align: center;}